* { background-color: white;
  font-family: Arial, Helvetica, sans-serif;

}
h1 { color: #F2CB05;
}

p{
      background-color: #FF5900; 
      color: white;
      padding: 300px;
      text-align:left;
    }

